#sidebar {
    background: #222;
    z-index: 10;
    min-width: 300px;
    max-width: 300px;
    position: fixed;
    height: 100%;
    margin-left: 0;

}

#sidebar h1 {
    margin-bottom: 10px;
    margin-top: 15px;
}

#sidebar ul li a{
    padding: 10px 15px;
    color: white;
}

#sidebar ul li a:hover{
    color: #2d2d2d;
    background: white;
    font-weight: bold;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 2em!important;
    margin-right: -2em;
}

#sidebar .custom-menu .btn.btn-primary:after {
    background: #222;
}

#app-avatar{
    padding: 10px 15px;
    text-align: center;
    border-bottom: 2px solid #971c2e;
    margin-bottom: 2em;
}

.app-avatar-nombre{
    color: #fff;
}

#sidebar .custom-menu .btn i {
    font-size: 17px;
    color: #fff;
}

.app-avatar-logo img {
    width: 100px;
    border-radius: 60%;
    padding: 5px;
    background: white;
    border: 1px dashed #ffffff;
    height: 100px;
}

.fa-arrow-right{
    padding: 20px 5px 20px 20px;
    font-size: 20px;
    color: #971c2e;
}

.app-subcontent-menu{
    display: flex;
}

.app-subcontent-active{
    border-bottom: 3px solid #222
}

.app-subcontent-menu h4{
    background: #ffffff;
    padding: 5px 25px;
    border-radius: 0 5px 0 0;
    border: 2px solid #971c2e;
    color: #971c2e;
}


.app-subitems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.app-items h2{
    color: #222222;
    text-align: right;
    border-bottom: 2px solid #222222;
}

.app-item-nro {
    font-size: 52px;
    font-weight: bold;
    text-shadow: 1px 4px 0px #9d9d9d;
    line-height: 1;
    color: #971c2e;
}

.app-item-cantidad {
    padding: 10px;
    margin: 8px;
    background: #971c2e0d;
    border-radius: 7px;
    text-align: right;
    border: 2px solid #222222;
    width: 250px;
}

span.css-item-nombre {
    color: #971c2e;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}

.app-tool{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin: 0 auto; 
    border-bottom: 2px solid #971c2e;
}

.app-tool img{
    width: 60px;
    border-radius: 60%;
    padding: 5px;
    background: white;
    border: 1px dashed #ffffff;
}

.app-tool h5{
    margin: 0;
    margin-left: 15px;
    color: white;
}

.app-header{
    z-index: 5;
    position: absolute;
    background: #971c2e;
    width: 100%;
    padding: 40px;
    border-bottom: 3px solid #222222;
    margin: 0;
    top: 0;
}

.app-header a{
    float: right;
    background: #971c2e;
    padding: 3px 25px;
    margin: 0;
    font-size: 22px;
    font-family: sans-serif;
    color: #ffffff;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#content {
    margin-top: 4em;
    background: white;
}

#sidebar ul li.active > a {
    color: #2d2d2d;
    background: white;
    font-weight: bold;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 2em!important;
    margin-right: -2em;
}

#sidebar ul li {
    font-size: 16px;
    margin-top: 2px;
}


.app-progressbar{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
  }

.btn.btn-danger{
    background: #971c2e!important;
    border: 2px solid #971c2e!important;
    width: 200px;
}

.btn.btn-danger:hover {
    border: 2px solid #971c2e!important;
    background: #fff!important;
    color:#971c2e!important;
}


@media (max-width: 991.98px){
    #sidebar {    
        position: fixed;
        height: 100%;
    }

    #content {
        margin-top: 6em;
        background: white;
        margin-left: 0px;

    }
    
}

@media (max-width: 768px){
 
    .app-subcontent-menu {
        display: flex;
        flex-wrap: wrap;
    }
    
}





/* formulario */

:root {
    --primary-color: rgb(11, 78, 179);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  /* Global Stylings */
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .width-50 {
    width: 50%;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Progressbar */
  .progressbar {
    position: fixed;
    display: flex;
    counter-reset: step;
    margin: 2rem 0 5rem;
    top: 160px;
    right: 19px;
    flex-direction: column;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 5px;
    transform: translateY(0%);
    height: 94%;
    width: 3px!important;
    background-color: #dcdcdc;
    z-index: -1;
    /* transform: rotate(90deg); */
    left: 13.5px;
    margin: 0 auto;
    z-index: 1;
  }
  
  .progress {
    background-color: #343a40;
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: double 5px #343a40;
    z-index: 2;
    margin-bottom: 1em;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
    color:white;
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-step-active {
    background: #343a40;
    color: #f3f3f3;
    border: double 5px #ffffff;
  }
  
  /* Form */
  .form {
    padding: 1.5rem;
    margin: 8px;
    background: #fbfbfb0d;
    border-radius: 7px;
    text-align: right;
    border: 2px solid #918e8e;
    font-family: "Poppins", Arial, sans-serif;
    color: #000;
  }
  
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
    margin: 1em;
    width: 100%;
    padding: 30px;
  }
  
  .input-group {
    margin: 2rem 0;
  }
  
  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }
  
  .form-group {
    margin-bottom: 1rem;
    text-align: center!important;
    }

    .form-label.text-left{
        font-size: 15px!important;
    }

    .app-subtitle{
        padding: 15px;
        background: #971c2e;
        color: white;
    }

    .form-control {
        height: auto!important;
    }

    select#tipoe {
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
    }
    #sidebar.active {
        margin-left: -300px;
    }

    #content.active {
        margin-left: 0px;
    }

    #content {
        margin-top: 6em;
        background: white;
        margin-left: 300px;
        overflow-y: hidden;
    }

    .form-step h6{
        font-size: 18px;
    font-weight: bold;  
    }

    .p-4 {
        padding: 1.5rem !important;
        overflow-y: scroll;
        height: 91%!important;
        width: 100%!important;
        overflow-x: hidden;
    }

    .mb-5, .my-5 {
        margin-bottom: 5rem !important;
    }

    ul.list-unstyled.components.mb-5 {
        margin-bottom: 1em!important;
    }

    #app-derecha{
        display: flex;
        justify-content: flex-end;
    }

    @media (max-width: 768px){
    
        .form-step-active {
            padding: 0px;
        }
    }